<footer class="flex flex--middle" role="contentinfo">
  <div class="viewport">
    <nav class="flex flex--right flex--middle" role="navigation">
      <ul class="list-inline">
        <li class="u-mh-">
          <a href="http://www.ge.com/privacy" target="_blank">Privacy</a>
        </li>
        <li class="u-mh-">
          <a href="http://www.ge.com/terms" target="_blank">Terms</a>
        </li>
        <li class="u-mh-">
          <a href="#" target="_blank">legal</a>
        </li>
      </ul>
      <small class="u-ml+">©2018 General Electric</small>
    </nav>
  </div>
</footer>
